<form action="#" phx-submit="add">
  <%= text_input :todo, :title, placeholder: "What do you want to get done?" %>
  <%= submit "add", phx_disable_with: "Adding..." %>
</form>

<%= for todo <- @todos do %>
  <div>
    <%= checkbox(:todo, :done, phx_click: "toggle_done", phx_value_id: todo.id, value: todo.done) %>
    <%= todo.title %>
    <span class="material-icons red" phx-click="delete" phx-value-id="<%= todo.id%>">
      delete
    </span>
  </div>
<% end %>
